/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan";

    

}

body{
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1250px;
    margin: 0 auto;
}   

.flex {
    display: flex;
}

.btn-contato button{
    padding:10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #ff8c00;
    border: 0;
    border-radius: 30px;
    transform: scale(1.06);
    cursor: pointer;  
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #ff8c00;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #ff8c00b7;
    transform: scale(1.10); 
    transition: transform 0.2; 
   
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 3%;
    
    
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
header a{
    
    padding: 0 40px;
    color: rgb(116, 116, 116);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: inline-block; 
    transition: transform 0.2s;
    
    
    
}
header a:hover{
    color: white;
    transform: scale(1.06);

}

header nav ul {
    list-style: none;
   
    
}

header nav ul li{
    display: inline-block;
    padding: 0 15px;
   
}

/* ESTILO DO TOPO DO SITE */

section .topside .flex{
    padding: 40px 4%
}

section .topside .flex {
    display: flex;
    padding: 40px 4%;
    align-items: left;
    justify-content: center;
    gap: 90px;
}

.topside h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
    text-align: left;
}

.topside .txt-topo-site h1 span{
    color: #ff8c00;
    font-size: 50px;
}

.txt-topo-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.topside .txt-topo-site p{
    color: white;
    margin: 40px 0;
    text-align: justify;   
    font-size: 21px;
}

.topside .btn-contato {
    align-self: flex-start;
    text-align: left;
    width: 250px;
}

.topside .btn-contato button{
    font-size: 20px;
    font-weight: 600;
    text-shadow: black
}

.topside .img-topo-site img {
    position: relative;
    animation: flutuar 2.8s ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    50% {
        top: 30px;
    }
    100% {
        top: 0;
    }
}

/* ESTILO SOBRE.HTML */

section .sobre{
    padding: 40px 4%;
}

.sobre .txt-sobre{
    color: white;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2{
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #ff8c00;
    display: block;
}

.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: justify;
    font-size: 18px;
    line-height: 1.2;
}

.btn-social button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #ff8c00e8;
    font-size: 25px;
    cursor: pointer;
    margin: 15px 5px;
    transition: .2s;
}

/* ESTILO CONTATO.HTML */
section.formulario{
    padding: 80px 4%; 
    
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    
}

form input, form textarea{
    width: 100%;
    background-color: rgba(61, 61, 61, 0.397);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
    height: 150px;
    overflow: hidden;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #ff8c00;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */


.interface footer {
    padding: 40px 4%;   
     
}

footer .flex{
    justify-content: space-between;
    align-items: center;
    
    
}

footer .line-footer{
    padding: 20px 0;
    align-items: center;
   
}
footer .line-footer p i{
    color:#ff8c00;
    font-size: 23px;  
}
footer .line-footer p a{
    color: white;
    text-decoration: none;
}

.borda{
    border-top: 2px solid #ff8c00;
}

.direitos {
    font-size: 15px;
    padding: 10px;
    color: white;
    
}










